@charset "UTF-8";
:root{
    --cor001:#1c8080;
    --cor001:#56a292;
    --cor001:#74bf9d;
    --cor001:#fbebaf;      
    --cor001:#ff1d44;
    --cor001:#000000;
    --cor001:#ffffff;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
h1 p{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.644)
}
body, html{
    background-image:linear-gradient(to bottom,#1c8080,#fbebaf);
    height: 100vh;
    width: 100vw;
}
main{
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color:#ffffff;
    border-radius: 20px;
    width: 250px;
    height: 500px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.445) ;
}
section#login div#img{
    text-align: center;
    display: block;
    background:#1c8080 url(img/imagem.jpg) no-repeat;
    background-size:cover;
    background-position: center center;
    height: 340px;
}
section#login > div#formulario{
    background-size:cover;
    display: block;
    padding: 10px;
    background-position: center bottom;
    height: 200px;

}
section#input{
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.445) ;
    text-align:center;
    padding: 50px;
    padding: 50px;
    height: 340px;
    border: radius 30px;

}
div#input{
    padding-top: 50px;
    margin-top: 50px;
    width: 100%;
    display: block;
    background-size:cover;
    background-position: center center;
    height: 340px;

}
#senha{
    font-size: 15px;
    border-radius: 8px;
    text-align: center;
    margin: 3px;
    padding: 3px;
    border: none;
    width: 200px;
}
#email{
    font-size: 20px;
    border-radius: 8px;
    text-align: center;
    margin: 3px;
    padding: 3px;
    border: none;
    width: 200px;

}
#entrar{
    background-color: #1c8080;
    border-radius: 8px;
    font-size: 15px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: none;
    color: #ffffff;

}
